* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(193, 255, 234);
}
nav {
  background-color: rgb(1, 24, 20);
  position: sticky;
  top: 0;
}
ul {
  text-align: center;
  padding: 30px;
}
ul a {
  text-decoration: none;
  color: rgb(205, 240, 238);
  font-size: 1.8rem;
  font-family:'Times New Roman', Times, serif ;
  margin: 30px;
  letter-spacing: 2px;
  transition: color 0.2s ;
  position: relative;
}
ul a:hover {
  color: rgb(138, 238, 225);
}
ul a::after {
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: rgb(106, 231, 204);
  content: "";
  bottom: -3px;
  left: 0;
  transform: translateX(-50px);
  visibility: hidden;
  transition: transform 0.4s cubic-bezier(0,1.33,1,-0.2);

}
ul a:hover::after {
  visibility: visible;
  transform: translate(0px);
}
ul a::before {
  position: absolute;
  width: 50%;
  height: 3px;
  background-color: rgb(106, 231, 204);
  content: "";
  bottom: -3px;
  right: 0;
  transform: translateX(50px);
  visibility: hidden;
  transition: transform 0.4s cubic-bezier(0,1.33,1,-0.2);

}
ul a:hover::before {
  visibility: visible;
  transform: translate(0px);
}

