@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-primary: rgb(226, 34, 66);
  --color-danger: rgb(241, 32, 32);
  --text-muted: rgb(138, 138, 138);
  --color-white: rgb(235, 235, 235);
  --color-dark: black;
  --box-shadow: rgb(77, 77, 77);

  --border-radeous: 1rem;
  --card-border-radeous: .5rem;

  --transition: all 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-white);
  color: var(--color-white);
  line-height: 1.3rem;
  overflow-x: hidden;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.color-danger {
  color: var(--color-danger);
}



h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 2px; 
}

h2 {
  color: var(--color-dark);
}

.btn-primary {
  font-size: 1.4rem;
  border: 2px solid var(--color-dark);
  padding: .5rem 2.5rem;
  color: var(--color-dark);
  transition: var(--transition);
}

.btn {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  display:block;
  border: 2.5px solid var(--color-dark);
  color: var(--color-dark);
  padding: .5rem 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  transition: var(--transition);
}

.btn:hover {
  transform: scale(1.05);
}

/* =========================NAV-BAR======================== */

nav {
  width: 100vw;
  height: 6rem;
  background-color: var(--color-dark);
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.nav-logo {
  margin-top: 1.5rem;
}

.nav-container .nav-link a{
  color: var(--color-white);
  padding-right: 2rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  transition: var(--transition);
}

.nav-container .nav-link a:hover {
  color: var(--color-danger);
}

.nav-container .nav-link a:first-child {
  color: var(--color-danger);
}

.nav-container .nav-link {
  margin-top: 2.1rem;
}

.nav-logo p:nth-child(2) {
  margin-top: .5rem;
}

.offer {
  background-color: var(--color-primary);
  margin-top: 6rem;
  width: 100%;
  padding: .8rem;
  display: flex;
  
  justify-content: center
}

.offer p {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.offer .font-color {
  color: var(--color-dark);
}

/* =========================HEAD======================== */

.header-container {
  width: 100%;
  height: 90vh;
  background-image: url(./img/header.jpg);
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
}

.header-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  gap: 1rem;
  margin-left: 13rem;
}

.header-details .color-change{
  font-size: 1.6rem;
  color: var(--color-danger);
  text-transform: uppercase;
  font-weight: 700;
}

.header-details .border {
  border-bottom: 2.5px solid var(--color-danger);
  width: 34%;
  margin-top: -1.1rem;
}

.header-details h2 {
  font-size: 5rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
  letter-spacing: 4px;
  color: var(--color-dark);
}

.header-details h3 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
  letter-spacing: 3px;
  font-weight: 600;
  color: var(--color-dark);
}

.header-details p:nth-child(5) {
  font-size: 1rem;
  width: 25%;
  text-align: justify;
  margin-top: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
  word-spacing: 2px;
  color: var(--color-dark);
}

.header-details a {
  text-transform: uppercase;
  border: 2.5px solid var(--color-danger);
  color: var(--color-danger);
  font-size: 1.4rem;
  font-weight: 600;
  padding: .8rem 2rem;
  margin-top: 2 rem;
  letter-spacing: 3px;
  transition: var(--transition);
}

.header-details a:hover {
  
  transform: scale(1.05);
}

.follower {
  margin: 15rem auto;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-around;
  padding: 5rem;
  border-radius: var(--border-radeous);
}

.follower .status p:nth-child(1){
  font-size: 3rem;
  font-weight: 600;
}

.follower .status p:nth-child(2) {
  font-size: 1.4rem;
  margin-top: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

/* =========================COLLECTION====================== */

.felnkb {
  color: var(--text-muted);
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  margin-bottom: 5rem;  
}

.felnkb ul li {
  margin-bottom: 10px;
}

.felnkb ul li:nth-child(1) {
  color: var(--color-danger);
  font-weight: 800;
  text-transform: uppercase;
}

.collection h2 {
  font-size: 3.5rem;
  margin-bottom: 4rem;
  color: var(--color-dark);
  padding-left: 9.5rem;

  letter-spacing: 2px;
}

/* =========================ABOUT====================== */

.about {
  margin-bottom: 10rem; 
  position: relative;
  width: 100%;
  height: 100rem;
}

.about .left img {
  width: 65rem;
  position: absolute;
  top: 15rem;
  border-radius: 0 2rem 2rem 0;
  transition: var(--transition);
}

.about .left img:hover {
  z-index: 2;
}

.about .right img {
  width: 70rem;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 2rem 0 0 2rem;
  margin-top: 5rem;
  
}

.about-details {
  position: absolute;
  bottom: 20rem;
  right: 10rem;
  width: 30%;
}

.about .right p {
  color: var(--color-dark);
  margin-bottom: 4rem;
  font-size: 1.1rem;
  text-align: justify;
  line-height: 1.8rem;
  letter-spacing: 2px;
}

.about .right h2 {
  margin-bottom: 3rem;
  font-size: 3.5rem;
}

/* =========================BROWSE ITEM====================== */

.card-container {
  width: auto;
  
  padding: 20px;
  box-shadow: 10px 10px 30px var(--box-shadow);
  border-radius: var(--card-border-radeous);
  color: var(--color-dark);
  margin-bottom: 5rem;
}

.card-containers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.card-image {
  width: 330px;
  height: 340px;
  overflow: hidden;
  border-radius: var(--card-border-radeous);
  margin-bottom: 1.5rem;
}

.card-image img {
  width: 338px;
}

.card-details {
  margin-bottom: 1.5rem;
  position: relative;
}

.card-details h4 {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.card-details p {
  font-size: 1.1rem;
  text-align: justify;
  color: var(--text-muted);
  line-height: 1.1rem;
  word-spacing: 3px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 4rem;
}

.card-details a {
  position: absolute;
  top: 14rem;
  right: 4.5rem;
}


